.link {
  padding: 4px 12px;
  border-radius: 5px;
}

a[data-active] {
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white) !important;
}

@media (max-width: 460px) {
  .link {
    padding: 4px 0px;
  }
}